# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Python
*.pyc

anag
boggle
caesar
d2test
dcomp
dmatch
evens
countdown
find1
find2
find3
monotone
palin
palinx
qback
reverse
rotate
scrab
subst
subtract
useonly
wordx
woxrd
xpalin
xrev
xword
fitx
jumble1
wordsquare
target

#Emacs old file
*~
